# Ignorar tudo, exceto a pasta desejada

!Embedding/
Copias/
fornecedores.db
log_lancamentos_*.json
__pycache__/
resources/
scripts_usaveis/
temp1/
aaaaaaaa.py
abastecimento.py
coordenadas.py
fornecedores.db
Frotas (1).xlsx
medidas.py
relatorio.txt
temp.py
__init__.py
__main__.py
medidas.txt
!.gitignore
